.jumbotron {
  text-align: center;
  background-color: #007272;
}
.jumboimg {
  margin-top: 10px;
  height: 50%;
  width: 50%;
  margin-bottom: 20px;
  border: solid #00bebe;
  border-width: 5px;
}
a {
  color: #00bebe;
}
.btn {
  margin-top: 20px;
  margin-bottom: 30px;
}
.lang-quiz h5 {
  margin-top: 25px;
  margin-bottom: 15px;
  text-shadow: 5px 5px #007272;
}
#ruby,
#csharp,
#javascript,
#python,
#newbie {
  display: none;
  margin-top: 30px;
  text-align: center;
}
#showing,
#c-showing,
#j-showing,
#p-showing,
#h-showing,
#html-showing,
#css-showing {
  display: none;
  padding: 20px;
  text-align: left;
}
.clickable,
.c-click,
.j-click,
.p-click,
.h-click,
.html-click,
.css-click,
.r-clickable,
.r-c-click,
.r-j-click,
.r-p-click,
.r-h-click,
.r-html-click,
.r-css-click {
  color: darkturquoise;
  cursor: pointer;
}
.clickable:hover,
.c-click:hover,
.j-click:hover,
.p-click:hover,
.h-click:hover,
.html-click:hover,
.css-click:hover,
.r-clickable:hover,
.r-c-click:hover,
.r-j-click:hover,
.r-p-click:hover,
.r-h-click:hover,
.r-html-click:hover,
.r-css-click:hover  {
  color: white;
  background-color: darkturquoise;
}
.card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  color: darkcyan;
  border-color: #00bebe;
  border-width: 5px;
}
.resultcards {
  padding: 30px;
  font-size: 17px;
  text-align: center;
}

body {
  background: darkcyan;
  color: white;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.csharpimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
  height: 10px;
}
.jsimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
  height: 5%;
}
.cssimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 60%;
}
.form-group {
  font-size: 20px;
  text-shadow: 5px 5px #007272;
}
.form-control {
  border: solid #00bebe;
  border-width: 5px;
  font-size: 20px;
}
.form-control:hover {
  color: white;
  background-color: #00bebe;
}
label[for="name"] {
  margin-top: 15px;
}
label[for="red"] {
  color: red;
}
label[for="purple"] {
  color: purple;
}
label[for="yellow"] {
  color: yellow;
}
label[for="blue"] {
  color: blue;
}
