.jumbotron {
  text-align: center;
}
#ruby, #csharp, #javascript, #python, #newbie {
  display: none;
  margin-top: 30px;
  text-align: center;
}
#showing, #c-showing, #j-showing, #p-showing, #h-showing {
  display: none;
}
.clickable, .c-click, .j-click, .p-click, .h-click {
  color: darkturquoise;
}
.card {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body {
  background: lightgrey;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ul {
  list-style-position: inside;
}
.form-group {
  text-align: center;
}
label[for="red"] {
  color: red;
}
label[for="purple"] {
  color: purple;
}
label[for="yellow"] {
  color: yellow;
}
label[for="yellowblue"] .blue {
  color: blue;
}
label[for="yellowblue"] .mellow {
  color: yellow;
}
